{{ form_start(form) }}
    {{ form_widget(form) }}
    
    <div align="right">
<<<<<<< HEAD
    <button class="btn btn-info">{{ button_label|default('Save') }}</button>
=======
    <button class="btn btn-secondary">{{ button_label|default('Save') }}</button>
>>>>>>> 23237ae5853df956539087ac877ac45710134ae5
    </div>
{{ form_end(form) }}