{% extends 'base.html.twig' %}

{% block title %}
Hello HotelController!

{% endblock %}

{% block body %}
 <div class="hero-wrap js-fullheight" style="background-image: url('front-office/images/bg_5.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
            <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>Hotel</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Hotels</h1>
          </div>
        </div>
      </div>
    </div>


    <section class="ftco-section ftco-degree-bg">
      <div class="container">
        <div class="row">
        	<div class="col-lg-3 sidebar">
        		<div class="sidebar-wrap bg-light ftco-animate">
        			<h3 class="heading mb-4">Find hotel</h3>
        		

        <div class="sidebar-search">
      <div class="input-group custom-search-form">
          <input type="text" id="search" class="form-control" placeholder="rechercher">
      </div>
      <!-- /input-group -->
  </div>


            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

					<script type="text/javascript">
						jQuery(document).ready(function () {
							var searchRequest = null;
							$("#search").keyup(function () {
								var minlength = 0;
								var that = this;
								var value = $(this).val();
								var entitySelector = $("#entitiesNav").html('');
								if (value.length >= minlength) {
									if (searchRequest != null)
										searchRequest.abort();
									searchRequest = $.ajax({
										type: "GET",
										url: "{{ path('ajax_searchhotel') }}",
										data: {
											'q': value
										},
										dataType: "text",
										success: function (msg) { // we need to check if the value is the same
											console.log(msg)
											if (value == $(that).val()) {
												var result = JSON.parse(msg);
												$.each(result, function (key, arr) {
													$.each(arr, function (id, value) {
														if (id != 'error') {
															var div ='' +
																	'<div class="col-md-4 ftco-animate fadeInUp ftco-animated">'+
																	'<div class="destination">'+
																	'<a href="hotel/' + value[6] + '" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(' + value[5] + ' );">'+
																	'<div class="icon d-flex justify-content-center align-items-center">'+
																	'<span class="icon-search2"></span>'+
																	'</div>'+
																	'</a>'+
																	'<div class="text p-3">'+
																	'<div class="d-flex">'+
																	'<div class="one">'+
																	'<h3>'+
																	'<a href="hotel/' + value[6] + '">' + value[0] + ' </a>'+
																	'</h3>'+
																	'</div>'+
																	'</div>'+
																	'<p>' + value[2] + ' </p>'+
																	'<hr>'+
																	'<p class="bottom-area d-flex">'+
																	'<span>'+
																	'<i class="icon-map-o"></i>'+
																	value[1] + ' </span>'+
																	'<span class="ml-auto">'+
																	'<a href="hotel/' + value[6] + '">Reserver</a>'+
																	'</span>'+
																	'</p>'+
																	'</div>'+
																	'</div>'+
																	'</div>';
															entitySelector.append(div)
														} else {
															entitySelector.append('<li style="color:red;">' + value + '</li>');
														}
													});
												});
											}
										}
									});
								}
							});
						});
					</script>
        		</div>
        		
          </div>
          <div class="col-lg-9">
          	<div class="row" id="entitiesNav">
          		
						 {% for hotel in hotels %}
		    			<div class="col-md-4 ftco-animate">
		    				<div class="destination">
						
							{% for f in hotel.hotelimage %}
							{% if loop.index == 1 %}
							
		    					<a href={{ path('hotel_show_hotel', {'id': hotel.id}) }} class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url({{ vich_uploader_asset(f, 'imageFile')}});">
		    						<div class="icon d-flex justify-content-center align-items-center">
									 {% endif %}
									   {% endfor %}
    							<span class="icon-search2"></span>
    						</div>
		    					</a>
		    					<div class="text p-3">
		    						<div class="d-flex">
		    							<div class="one">
				    						<h3><a href={{ path('hotel_show_hotel', {'id': hotel.id}) }}>{{ hotel.libelle }}</a></h3>
				    						<p class={{ hotel.nbetoile }}>
				    							<span>{{ hotel.nbetoile }}</span>
				    							<span>stars</span>
				    						</p>
			    						</div>
			    						
		    						</div>
		    						<p>{{ hotel.descriptionHotel }}</p>
		    						<hr>
		    						<p class="bottom-area d-flex">
		    							<span><i class="icon-map-o"></i> {{ hotel.localisation }}</span> 
		    							<span class="ml-auto"><a href="#">Book Now</a></span>
		    						</p>
		    					</div>
		    				</div>
		    			</div>
		    			{% endfor %}

          	</div>
			  {{ knp_pagination_render(hotels) }}
          	<div class="row mt-5">
		          <div class="col text-center">
		            <div class="block-27">
		             
		            </div>
		          </div>
		        </div>
          </div> <!-- .col-md-8 -->
        </div>
      </div>
    </section> <!-- .section -->
{% endblock %}
