{% extends 'baseBO.html.twig' %}

{% block title %}Attraction dashboard{% endblock %}

{% block body %}
      <div class="main-panel">
        <div class="content-wrapper"> <br>
          <div class="row">
            <div class="grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title"></h4>
                  <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Localisation</th>
                <th>Horraire</th>
                <th>Prix</th>
                <th>Categorie</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
        {% for a in attractions %}
            <tr>
                <td>{{ a.id }}</td>
                <td>{{ a.libelle }}</td>
                <td>{{ a.localisation }}</td>
                <td>{{ a.horraire }}</td>
                <td>{{ a.prix }}</td>
                <td>{{ a.getIdCategorie()}}</td>
                <td>  
                    <a href="{{ path('attraction_show', {'id': a.id}) }}" class="btn btn-secondary"><img src="https://img.icons8.com/ios-filled/50/000000/visible.png"/></a>
                    <a href="{{ path('attraction_edit', {'id': a.id}) }}" class="btn btn-secondary"><img src="https://img.icons8.com/glyph-neue/50/000000/edit.png"/></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
        </div>
    </div>
    </div>
        <a href="{{ path('attraction_new') }}" class="btn btn-secondary">Create new</a>
    </div>
{% endblock %}