{% extends 'base.html.twig' %}

{% block title %}Attraction index{% endblock %}

{% block body %}

  <div class="main-panel">
        <div class="content-wrapper">
            <h1>Attractions</h1> <br>
            <div class="grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title"></h4>
                  <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Libelle</th>
                <th>Localisation</th>
                <th>Horraire</th>
                <th>Prix</th>
                <th>Categorie</th>
            </tr>
        </thead>
        <tbody>
        {% for a in attractions %}
            <tr>
                <td>{{ a.libelle }}</td>
                <td>{{ a.localisation }}</td>
                <td>{{ a.horraire }}</td>
                <td>{{ a.prix }}</td>
                <td>{{ a.getIdCategorie()}}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
    </div>
    </div>
{% endblock %}
