{{ form_start(form) }}
    {{ form_widget(form) }}
    <br>
<<<<<<< HEAD
    <div align="right">
        <button class="btn btn-info">{{ button_label|default('send') }}</button>
    </div>
=======
    <button class="btn">{{ button_label|default('send') }}</button>
>>>>>>> 23237ae5853df956539087ac877ac45710134ae5
{{ form_end(form) }}
