{% extends 'baseBO.html.twig' %}

{% block title %}Reclamations{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>sender</th>
                <th>Object</th>
                <th>Type</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.id }}</td>
                <td>
                {% if app.user %}
                {{ reclamation.client }}
                {% endif %}
                </td>
                <td>{{ reclamation.object }}</td>
                <td>{{ reclamation.type }}</td>
                <td>{{ reclamation.createdAt ? reclamation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('reclamation_show', {'id': reclamation.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
