<ul id="diplomes-fields-list"
    data-prototype="{{ form_widget(form.excursionimages.vars.prototype)|e }}"
    data-widget-tags="{{ '<li></li>'|e }}"
    data-widget-counter="{{ form.excursionimages|length }}">
    {% for emailField in form.excursionimages %}
        <li>
            {{ form_errors(emailField) }}
            {{ form_widget(emailField) }}
        </li>
    {% endfor %}
</ul>
<button type="button"
        class="add-another-collection"
        data-list-selector="#diplomes-fields-list">Ajouter une autre image
</button>

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_widget(form) }}
    <button class="btn btn-primary me-2">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
