{% extends 'baseBO.html.twig' %}

{% block title %}TypeRec{% endblock %}

{% block body %}
    <h1>TypeRec</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_rec.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ type_rec.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_rec_index') }}">back to list</a>

    <a href="{{ path('type_rec_edit', {'id': type_rec.id}) }}">edit</a>

    {{ include('type_rec/_delete_form.html.twig') }}
{% endblock %}
