<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} {% endblock %}</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{{ asset('back-office/vendors/feather/feather.css') }}">
    <link rel="stylesheet" href="{{ asset('back-office/vendors/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('back-office/vendors/ti-icons/css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('back-office/vendors/typicons/typicons.css') }}">
    <link rel="stylesheet" href="{{ asset('back-office/vendors/simple-line-icons/css/simple-line-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('back-office/vendors/css/vendor.bundle.base.css') }}">
    <link rel="stylesheet" href="{{ asset('back-office/css/style.css') }}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{{ asset('back-office/js/select.dataTables.min.css') }}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{{ asset('back-office/css/vertical-layout-light/style.css') }}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{{ asset('back-office/images/favicon.png') }}" />
    {% block script %}
    {% endblock %}
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
            <div class="me-3">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
                    <span class="icon-menu"></span>
                </button>
            </div>
            <div>
                <a class="navbar-brand brand-logo" href="{{ path('admin-dashboard') }}">
                    <img src="{{asset('logo.png')}}" alt="logo" />
                </a>
                <a class="navbar-brand brand-logo-mini" href="{{ path('admin-dashboard') }}">
                    <img src="{{asset('logo.png')}}" alt="logo" />
                </a>
            </div>
        </div>

    </nav>
    <div class="container-fluid page-body-wrapper">

        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin-dashboard') }}">
                        <i class="mdi mdi-grid-large menu-icon"></i>
                        <span class="menu-title">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                        <i class="menu-icon mdi mdi-floor-plan"></i>
                        <span class="menu-title">Excursions</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="{{ path('excursion_index') }}">Liste Excursions</a></li>
                            <li class="nav-item"> <a class="nav-link" href="{{ path('excursioncategorie_index') }}">Liste Catégories</a></li>
                            <li class="nav-item"> <a class="nav-link" href="{{ path('excursionreservation_index') }}">Liste Réservation</a></li>
                            <li class="nav-item"> <a class="nav-link" href="{{ path('excursion_calendar') }}">Calendrier réservation</a></li>
                            <li class="nav-item"> <a class="nav-link" href="{{ path('excursionchartjs') }}">Statistique</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin-dashboard/hotel') }}" class="nav-link" >
                        <i class="menu-icon mdi mdi-floor-plan"></i>
                        <span class="menu-title">Hotels</span>
                        <i class="menu-arrow"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin-dashboard/maisonhotes') }}" class="nav-link" >
                        <i class="menu-icon mdi mdi-floor-plan"></i>
                        <span class="menu-title">Maison d'hotes</span>
                        <i class="menu-arrow"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin-dashboard/attraction') }}" class="nav-link" >
                        <i class="menu-icon mdi mdi-floor-plan"></i>
                        <span class="menu-title">Attractions</span>
                        <i class="menu-arrow"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin-dashboard/blog') }}" class="nav-link" >
                        <i class="menu-icon mdi mdi-floor-plan"></i>
                        <span class="menu-title">Blog</span>
                        <i class="menu-arrow"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin-dashboard/users') }}" class="nav-link" >
                        <i class="menu-icon mdi mdi-floor-plan"></i>
                        <span class="menu-title">Utilisateurs</span>
                        <i class="menu-arrow"></i>
                    </a>
                </li>
            </ul>
        </nav>
        {% block body %}
        {% endblock %}

    </div>
</div>

<!-- plugins:js -->
<script src="{{ asset('back-office/vendors/js/vendor.bundle.base.js') }}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="{{ asset('back-office/vendors/chart.js/Chart.min.js') }}"></script>
<script src="{{ asset('back-office/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ asset('back-office/vendors/progressbar.js/progressbar.min.js') }}"></script>

<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{{ asset('back-office/js/off-canvas.js') }}"></script>
<script src="{{ asset('back-office/js/hoverable-collapse.js') }}"></script>
<script src="{{ asset('back-office/js/template.js') }}"></script>
<script src="{{ asset('back-office/js/settings.js') }}"></script>
<script src="{{ asset('back-office/js/todolist.js') }}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="{{ asset('back-office/js/dashboard.js') }}"></script>
<script src="{{ asset('back-office/js/Chart.roundedBarCharts.js') }}"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ asset('back-office/js/script.js') }}"></script>
<!-- End custom js for this page-->
{{ flasher_render() }}
{% block js %}
{% endblock %}
</body>

</html>

