{% extends 'baseBO.html.twig' %}

{% block title %}Maisonshotes{% endblock %}
{% block body %}
<div class="main-panel">
    <div class="content-wrapper">
        <h1>Maisons d'hotes</h1> <br>
        <div class="row">
            <div class="grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <div class="table-responsive">

    <h1>Les informations</h1>


    <table class="table">
        <tbody>
            <tr>
                <th>id</th>
                <td>{{ maisonshote.id }}</td>
            </tr>

            <tr>
                <th>Libelle</th>
                <td>{{ maisonshote.libelle }}</td>
            </tr>
            <tr>
                <th>Capacite</th>
                <td>{{ maisonshote.capacite }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ maisonshote.localisation }}</td>
            </tr>
            <tr>
                <th>Proprietaire</th>
                <td>{{ maisonshote.proprietaire }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ maisonshote.prix }}</td>
            </tr>
            <tr>
                <th>NbrChambres</th>
                <td>{{ maisonshote.nbrChambres }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin-dashboard/maisonshote') }}" class="btn btn-outline-success">back to list</a>

    <a href="{{ path('maisonshotes_edit', {'id': maisonshote.id}) }}" class="btn btn-secondary btn-icon-text ">
        <i class="bi bi-eye"></i>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
        </svg>
    </a>

    {{ include('maisonshotes/_delete_form.html.twig') }}
{% endblock %}
